/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Home*/
#main-nav {
    display: flex;
    height: 550px;
    background-color: #add8e7;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
}

#link-menu {
    display: flex;
    height: 40px;
    width: 65%;
    background-color: #DAA51E;
}

.logo {
    display: flex;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    width: 20%;
    align-items: center;
    padding: 10px;
}

.link {
    display: flex;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#splash-home {
    display: flex;
    height: 460px;
    width: 100%;
    background-color: #00018b;
    justify-content: center;
    align-items: center;

}

.presentation {
    display: flex;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    height: 80%;
    width: 50%;
    background-color: #EF82ED;
}