/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Home*/
#main-nav {
    display: flex;
    height: 550px;
    background-color: #add8e7;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
}

#link-menu {
    display: flex;
    height: 40px;
    width: 66%;
    background-color: #DAA51E;
}

.logo-up {
    display: flex;
    border-style: dashed;
    width: 20%;
    align-items: center;
    padding: 10px;
}

.link {
    display: flex;
    border-style: dashed;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    border-style: dashed;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#splash-home {
    display: flex;
    height: 460px;
    width: 100%;
    background-color: #00018b;
    justify-content: center;
    align-items: center;

}

.presentation {
    border-style: dashed;
    height: 80%;
    width: 50%;
    background-color: #EF82ED;
}

/*Presentazione*/

#first-slide {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.channels-img {
    border-style: dashed;
    height: 80%;
    width: 42%;
    background-color: #1E90FF;
}

.channels-info {
    border-style: dashed;
    height: 80%;
    width: 24%;
    background-color: #FFC0CA;
}

#second-slide {
    display: flex;
    height: 500px;
    background-color: #D3D3D3;
    justify-content: center;
    align-items: center;
}

.server-info {
    border-style: dashed;
    height: 80%;
    width: 24%;
    background-color: #FFC0CA;
}

.server-img {
    border-style: dashed;
    height: 80%;
    width: 42%;
    background-color: #1E90FF;
}

#third-slide {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.community-img {
    border-style: dashed;
    height: 80%;
    width: 42%;
    background-color: #1E90FF;
}

.community-info {
    border-style: dashed;
    height: 80%;
    width: 24%;
    background-color: #FFC0CA;
}

#fourth-slide {
    display: flex;
    height: 800px;
    background-color: #D3D3D3;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
}

.streaming {
    border-style: dashed;
    height: 80%;
    width: 66%;
    background-color: #218B21;
}

/*Bottom info*/

#bottom-nav {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.socials {
    border-style: dashed;
    height: 80%;
    width:22%;
    background-color: #F08180;
} 

.info-menu {
    border-style: dashed;
    height: 80%;
    width: 44%;
    background-color: #20B3AA;
    flex-direction: column;
}

.product {
    border-style: dashed;
    border-color: white;
    height: 25%;
    width: 25%;
}

.company {
    border-style: dashed;
    border-color: white;
    height: 25%;
    width: 25%;
}

.resources {
    border-style: dashed;
    border-color: white;
    height: 25%;
    width: 25%;
}

.norms {
    border-style: dashed;
    border-color: white;
    height: 25%;
    width: 25%;
}